body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles for Left & Right Player*/

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
    white-space: nowrap;
    transform-origin: 0 0;
}
.rotateMinus90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    white-space: nowrap;
    transform-origin: 100% 0;
}

.HorizontalContainer {
    height:64px;
    display:inline-block;
}

.tileHorizontalContainer {
    width:44px;
    height:64px;
    display:inline-block;
}
.tileHorizontalContainerMobile {
    width:34px;
    height:50px;
    display:inline-block;
}
.tileHorizontal {
    margin: 0 -100% 0 -100%;
    overflow:hidden
}
.tileVerticalContainer {
    height:39px;
    display:inline-block
}
.tileVerticalContainerMobile {
    height:30px;
    display:inline-block
}

.tileVertical {
    margin: -100% 0 -100% 0;
    transform-origin: 100% 100%;
    display:list-item;
}
.activeTile {
    background:rgba(85,55,188,.75);
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}
.activeTile img{
    opacity:0.4;
}

.modal.modal-wide .modal-dialog {
  width: 50%;
}

.winningTiles{
 padding-left:50px;
}

.activePlayer {
    background-color: gold;
    padding: 5px;
}

.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* Styles for throwing tiles animation
-----------------------------------------------------------*/
.repeat-animation {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
  position:relative;
}

.repeat-animation.top.ng-enter{
    position: relative;
    opacity: 0.0;
    height: 0;
    top: -100px;
}


.repeat-animation.top.ng-enter.top.ng-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    top: 0;
}

.repeat-animation.bottom.ng-enter{
    position: relative;
    opacity: 0.0;
    height: 0;
    top: 100px;
}


.repeat-animation.bottom.ng-enter.bottom.ng-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    top: 0;
}


.repeat-animation.left.ng-enter{
    position: relative;
    opacity: 0.0;
    height: 0;
    left: -100px;
}


.repeat-animation.left.ng-enter.left.ng-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    left: 0;
}

.repeat-animation.right.ng-enter{
    position: relative;
    opacity: 0.0;
    height: 0;
    left: 100px;
}


.repeat-animation.right.ng-enter.right.ng-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    left: 0;
}

#discardedTiles {
    padding-top:10px;
    padding-left:15px;
}