@model MahjongBuddy.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@Html.ValidationSummary(false)

@using (Html.BeginForm())
{ 
    @Html.EditorForModel()
    
    <p>
        <button type="submit">Register</button>
    </p>
}
