@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    @*<script src="/signalr/hubs"></script>*@
}
<div ng-controller="MahjongController">
    <div id="WaitingRoom" class="container" ng-hide="gameIsReady">
       
        <div class="row">       
            <div class="col-md-5"></div>     
            <div class="col-md-1"><input type="text" id="usernameTB" class="form-control" /></div>
            <div class="col-md-1"><input type="button" id="join" value="join" ng-disabled="isDisonnected" ng-click="join()" class="btn btn-primary"></div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><label id="gameStatus"></label></div>
            <div class="col-md-2"></div>
        </div>
    </div><!--end of Waiting Room-->

    <div id="GameRoom" class="container" ng-show="gameIsReady">
        <!-- Modal -->
        <div id="myModal" class="modal modal-wide fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Winner: {{record.Winner.Name}}</h4>
                    </div>

                    <div class="modal-body">
                        <!--winning tiles-->
                        <div class="winningTiles HorizontalContainer">
                            <span class="tileHorizontalContainer" ng-repeat="tile in record.WinningTileSet.Eye.Tiles">
                                <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                            </span>

                            <span ng-repeat="set in record.WinningTileSet.Sets">
                                <span class="tileHorizontalContainer" ng-repeat="tile in set.Tiles">
                                    <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                                </span>
                            </span>
                        </div>
                        <!--winning tiles flower-->
                        <div class="winningTiles">
                            <span class="tileHorizontalContainer" ng-repeat="tile in record.WinningTileSet.Flowers">
                                <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                            </span>
                        </div>

                            <div>
                                <span class="" ng-repeat="hand in record.WinningTileSet.Hands">
                                    {{hand.HandName}} - {{hand.Point}}
                                </span>
                            </div>
                            <div>
                                Total: <strong>{{record.WinningTileSet.TotalPoints}}</strong> pts
                            </div>
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Start Next Game</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- end of Modal -->
    <!--start for Top Player-->
        <div id="TopPlayer" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center">
                <div class="row">
                    {{topPlayer.Name}} - {{topPlayer.CurrentPoint}} pts
                </div>

                <div class="row HorizontalContainer">
                    <div class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : topPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                        <img class="tileHorizontal rotate180" ng-src="{{tile.Image}}" />
                    </div>
                </div>

                <div class="row">
                    <span class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : topPlayer.ConnectionId, Status: 2}: true">
                        <img class="tileHorizontal" src="~/Content/images/tiles/64px/face-down-64px.png" />
                    </span>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    <!--end of Top Player-->

        <div id="MidSection" class="row">

            <!--start for Left Player-->
                <div id="LeftPlayer">

                    <div class="col-md-1">
                        <span class="rotate90container">
                            <span class="rotate90">{{leftPlayer.Name}} - {{leftPlayer.CurrentPoint}} pts</span>
                        </span> 
                    </div>

                    <div class="col-md-1">
                        <div class=" tileVerticalContainer rotate90" ng-repeat="tile in game.Board.Tiles | filter: {Owner : leftPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                            <img class="tileVertical" ng-src="{{tile.Image}}" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="tileVerticalContainer rotate90" ng-repeat="tile in game.Board.Tiles | filter: {Owner : leftPlayer.ConnectionId, Status: 2}: true">
                            <img class="tileVertical" src="~/Content/images/tiles/64px/face-down-64px.png" />
                        </div>
                    </div>
                </div>
            <!--end of LeftPlayer-->

            <!--start for Board-->
                <div id="TheBoard" class="col-md-6">
                    <strong>Discarded Tiles</strong>
                    <div id="discardedTiles">
                        <div class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Status : 4}: true | orderBy: 'Counter'">
                            <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                        </div>
                    </div>
                </div>
            <!--end of Board-->

            <!--start for Right Player-->
                <div id="RightPlayer">
                    <div class="col-md-1">
                        <div class="tileVerticalContainer rotateMinus90" ng-repeat="tile in game.Board.Tiles | filter: {Owner : rightPlayer.ConnectionId, Status: 2}: true">
                            <img class="tileVertical" src="~/Content/images/tiles/64px/face-down-64px.png" />
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="tileVerticalContainer rotateMinus90" ng-repeat="tile in game.Board.Tiles | filter: {Owner : rightPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                            <img class="tileVertical" ng-src="{{tile.Image}}" />
                        </div>
                    </div>

                    <div class="col-md-1"> 
                        <span class="rotate90container">
                            <span class="rotateMinus90">{{rightPlayer.Name}} - {{rightPlayer.CurrentPoint}} pts </span>
                        </span>                     
                    </div>
                </div>
            <!--end of Right Player-->
        </div>


    <!--start for Main Player-->
        <div class="col-md-2"></div>

        <div id="BottomPlayer" class="col-md-8" style="text-align: center">

            <div id="playerCommand">
                @*<input type="button" ng-disabled="!isMyturn" id="flower" value="flower" class="btn btn-primary" ng-click="fnPlayerMove('flower', 0)">*@
                @*<input type="button" ng-disabled="!isMyturn" id="noFlower" value="noFlower" class="btn btn-primary" ng-click="fnPlayerMove('noflower' , 0)">*@

                <input type="button" id="win" value="win" class="btn btn-primary" ng-click="fnPlayerMove('win', selectedTiles)">
                <input type="button" id="kong" value="kong" class="btn btn-primary" ng-click="fnPlayerMove('kong', selectedTiles)">
                <input type="button" id="pong" value="pong" class="btn btn-primary" ng-click="fnPlayerMove('pong', selectedTiles)">
                <input type="button" ng-disabled="!isMyturn" id="chow" value="chow" class="btn btn-primary" ng-click="fnPlayerMove('chow', selectedTiles)">
                <input type="button" ng-disabled="!isMyturn || currentPlayer.CanPickTile" id="throw" value="throw" class="btn btn-primary" ng-click="fnPlayerMove('throw', selectedTiles)">
                <input type="button" ng-disabled="!isMyturn || !currentPlayer.CanPickTile" id="pick" value="pick" class="btn btn-primary" ng-click="fnPlayerMove('pick', selectedTiles)">
            </div>

            <div id="activeTiles">
                <span ng-click="fnSelectTile(tile.Id, $event)" ng-class="{'activeTile' : fnIsTileActive(tile.Id)}" class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId, Status: 2 }: true | orderBy: ['Type', 'Value']">
                    <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>
                <span class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId, Status: 1}: true">
                    <img ng-click="fnSelectTile(tile.Id, $event)" ng-class="{'activeTile' : fnIsTileActive(tile.Id)}" class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>

            </div>

            <div style="clear:both"></div>

            <div id="myGraveyardTiles" class="HorizontalContainer">
                <span class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                    <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>
            </div>

            <div style="clear:both"></div>

            <div>
                <label>{{currentPlayer.Name}} - {{currentPlayer.CurrentPoint}} pts </label>
                <br/>
                <label id="playerWind">{{currentPlayerWind}}</label>
                <br />
                <label id="warningMessage">{{warningMessage}}</label>
                <br/>
            </div>
    <!--end of Main Player-->
    
    </div>
        
        <div class="col-md-2"></div>

    </div>
    <!--end of GameRoom-->
</div>
