@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
   @*<script src="/signalr/hubs"></script>*@
}
<div ng-controller="MahjongController">
    <div id="WaitingRoom" class="container" ng-hide="gameIsReady">
        <div class="row">       
            <div class="col-md-4"></div>     
            <div class="col-md-4">
                <span><label>mjbuddy({{totalPlayers}})</label></span>
                <span><input type="text" id="usernameTB" ng-disabled="isDisonnected || totalPlayers >= 4"  placeholder='Enter your name' /></span>
                <span><input type="button" id="join" value="join" ng-disabled="isDisonnected || totalPlayers >= 4" ng-click="join()" class="btn btn-primary"></span>
                <span><input type="button" id="restartGame" value="nuke" ng-click="resetGame()" ng-hide="totalPlayers < 4" class="btn btn-danger"></span>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><label id="gameStatus"></label></div>
            <div class="col-md-2"></div>
        </div>
    </div><!--end of Waiting Room-->

    <div id="GameRoom" class="container" ng-show="gameIsReady">
        <!-- Show Winner Modal -->
        <div id="showWinnerModal" class="modal modal-wide fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Winner: {{record.Winner.Name}}</h4>
                    </div>

                    <div class="modal-body">
                        <!--winning tiles-->
                        <div class="winningTiles HorizontalContainer">
                            <span class="tileHorizontalContainer" ng-repeat="tile in record.WinningTileSet.Eye.Tiles">
                                <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                            </span>

                            <span ng-repeat="set in record.WinningTileSet.Sets">
                                <span class="tileHorizontalContainer" ng-repeat="tile in set.Tiles">
                                    <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                                </span>
                            </span>
                        </div>
                        <!--winning tiles flower-->
                        <div class="winningTiles">
                            <span class="tileHorizontalContainer" ng-repeat="tile in record.WinningTileSet.Flowers">
                                <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                            </span>
                        </div>

                            <div>
                                <span class="" ng-repeat="hand in record.WinningTileSet.Hands">
                                    {{hand.HandName}} - {{hand.Point}}
                                </span>
                            </div>
                            <div>
                                Total: <strong>{{record.WinningTileSet.TotalPoints}}</strong> pts
                            </div>
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="fnStartNextGame()">Start Next Game</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Show Winner Modal -->

        <!-- Show No Winner Modal -->
        <div id="showNoWinnerModal" class="modal modal-wide fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title">Nobody win..</h4></div>
                    <div class="modal-body"> Welp..that was a waste of time...let's do next game!</div>
                    <div class="modal-footer"><button type="button" class="btn btn-default" ng-click="fnStartNextGame()">Start Next Game</button></div>
                </div>
            </div>
        </div>
        <!-- end of Show No Winner Modal -->

    <!--start for Top Player-->
        <div id="TopPlayer" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center">
                <div ng-class="{'activePlayer' : isTopPlayerTurn}" class="row">
                    {{topPlayer.Name}} - {{topPlayer.CurrentPoint}} pts
                </div>

                <!--Graveyard-->
                <div class="HorizontalContainer">
                    <span class="tileHorizontalContainer" ng-repeat="tile in topPlayer.GraveYardTiles | filter: {Owner : topPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                        <img class="tileHorizontal rotate180" ng-src="{{tile.Image}}" />
                    </span>                
                </div>
                <div style="clear:both"></div>
                <div class="row HorizontalContainer">
                    <span class="tileHorizontalContainer" ng-repeat="tile in topPlayer.ActiveTilesCount">
                        <img class="tileHorizontal" src="~/Content/images/tiles/64px/face-down-64px.png" />
                    </span>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    <!--end of Top Player-->

        <div id="MidSection" class="row">

            <!--start for Left Player-->
                <div id="LeftPlayer">

                    <div class="col-xs-1 col-md-1">
                        <span class="rotate90container">
                            <span ng-class="{'activePlayer' : isLeftPlayerTurn}" class="rotate90">{{leftPlayer.Name}} - {{leftPlayer.CurrentPoint}} pts</span>
                        </span> 
                    </div>

                    <!--Graveyard Tile-->
                    <div class="col-xs-1 col-md-1">
                        <div class=" tileVerticalContainer rotate90" ng-repeat="tile in leftPlayer.GraveYardTiles | filter: {Owner : leftPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                            <img class="tileVertical" ng-src="{{tile.Image}}" />
                        </div>
                    </div>

                    <!--active tile-->
                    <div class="col-xs-1 col-md-1">
                        <div class="tileVerticalContainer rotate90" ng-repeat="tile in leftPlayer.ActiveTilesCount">
                            <img class="tileVertical" src="~/Content/images/tiles/64px/face-down-64px.png" />
                        </div>
                    </div>
                </div>
            <!--end of LeftPlayer-->

            <!--start for Board-->
                <div id="TheBoard" class="col-xs-6 col-md-6">
                    <div id="discardedTiles">
                        <div class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Status : 4}: true | orderBy: 'OpenTileCounter'">
                            <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                        </div>
                    </div>
                </div>
            <!--end of Board-->

            <!--start for Right Player-->
                <div id="RightPlayer">

                    <!--active tile-->
                    <div class="col-xs-1 col-md-1">
                        <div class="tileVerticalContainer rotateMinus90" ng-repeat="tile in rightPlayer.ActiveTilesCount">
                            <img class="tileVertical" src="~/Content/images/tiles/64px/face-down-64px.png" />
                        </div>
                    </div>

                    <!--Graveyard tile-->
                    <div class="col-xs-1 col-md-1">
                        <div class="tileVerticalContainer rotateMinus90" ng-repeat="tile in rightPlayer.GraveYardTiles| filter: {Owner : rightPlayer.ConnectionId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                            <img class="tileVertical" ng-src="{{tile.Image}}" />
                        </div>
                    </div>

                    <div class="col-xs-1 col-md-1"> 
                        <span class="rotate90container">
                            <span ng-class="{'activePlayer' : isRightPlayerTurn}" class="rotateMinus90">{{rightPlayer.Name}} - {{rightPlayer.CurrentPoint}} pts </span>
                        </span>                     
                    </div>
                </div>
            <!--end of Right Player-->
        </div>


    <!--start for Main Player-->
        <div class="col-md-2"></div>

        <div id="BottomPlayer" class="col-md-8" style="text-align: center">
            <div ng-hide="hideGameCountdown">Game ends in {{gameEndCountdown}}</div>
            <div class="alert alert-danger animate-hide" ng-hide="hideAlert">
                <strong>{{warningMessage}}</strong> 
            </div>

            <div id ="gameInfo">
                <label id="tilesLeft">Tiles Left: {{game.TilesLeft}}</label><br />                
                <label id="playerWind">Game Wind:{{currentGameWind}} - My wind:{{currentPlayerWind}}</label>
            
            </div>

            <div id="playerCommand">
                @*<input type="button" ng-disabled="!isMyturn" id="flower" value="flower" class="btn btn-primary" ng-click="fnPlayerMove('flower', 0)">*@
                @*<input type="button" ng-disabled="!isMyturn" id="noFlower" value="noFlower" class="btn btn-primary" ng-click="fnPlayerMove('noflower' , 0)">*@
                <input toggle-checkbox ng-model="currentPlayer.IsTileAutoSort" ng-change="fnToggleSortTile()" data-on="Sort" data-off="Manual" type="checkbox">
                <input type="button" ng-disabled="game.HaltMove && !isMyturn" id="win" value="win" class="btn btn-primary" ng-click="fnPlayerMove('win', selectedTiles)">
                <input type="button" ng-disabled="game.HaltMove && !isMyturn" id="kong" value="kong" class="btn btn-primary" ng-click="fnPlayerMove('kong', selectedTiles)">                
                <input type="button" ng-disabled="game.HaltMove" id="pong" value="pong" class="btn btn-primary" ng-click="fnPlayerMove('pong', selectedTiles)">
                <input type="button" ng-disabled="!isMyturn || game.HaltMove" id="chow" value="chow" class="btn btn-primary" ng-click="fnPlayerMove('chow', selectedTiles)">
                <input type="button" ng-disabled="!isMyturn || currentPlayer.CanPickTile" id="throw" value="throw" class="btn btn-primary" ng-click="fnPlayerMove('throw', selectedTiles)">
                <input type="button" ng-disabled="!canPickTile || game.HaltMove || !currentPlayer.CanPickTile || !isMyturn" id="pick" value="pick" class="btn btn-primary" ng-click="fnPlayerMove('pick', selectedTiles)">
                <input type="button" ng-hide="game.TilesLeft != 1 || !isMyturn || game.HaltMove" id="giveup" value="giveup" class="btn btn-primary" ng-click="fnPlayerMove('giveup', selectedTiles)">               
            </div>

            <div id="activeTiles">
@*                <span ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)" ng-click="fnSelectTile(tile.Id, $event)" ng-class="{'activeTile' : fnIsTileActive(tile.Id)}" class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId, Status: 2 }: true | orderBy: ['Type', 'Value']">*@
                <span ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)" ng-click="fnSelectTile(tile.Id, $event)" ng-class="{'activeTile' : fnIsTileActive(tile.Id)}" class="tileHorizontalContainer" ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId, Status: 2 }: true | orderBy: ['ActiveTileIndex']">
                    <img ng-drag="true" ng-drag-data="tile" class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>
                <span class="tileHorizontalContainer" ng-repeat="tile in currentPlayer.ActiveTiles | filter: {Owner : currentUserId, Status: 1}: true">
                    <img ng-click="fnSelectTile(tile.Id, $event)" ng-class="{'activeTile' : fnIsTileActive(tile.Id)}" class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>

            </div>

            <div style="clear:both"></div>
            <!--Graveyard Tile-->
            <div id="myGraveyardTiles" class="HorizontalContainer">
                <span class="tileHorizontalContainer" ng-repeat="tile in currentPlayer.Board.Tiles | filter: {Owner : currentUserId, Status: 3}: true | orderBy: ['OpenTileCounter']">
                    <img class="tileHorizontal" ng-src="{{tile.Image}}" />
                </span>
            </div>

            <div style="clear:both"></div>

            <div>
                <label ng-class="{'activePlayer' : isMyturn}" class="currentTurn">{{currentPlayer.Name}} | Points:{{currentPlayer.CurrentPoint}} pts </label>   
            </div>
    <!--end of Main Player-->
    
    </div>
        
        <div class="col-md-2"></div>

    </div>
    <!--end of GameRoom-->
</div>
