@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MahjongBuddy</h1>
    <p class="lead">Play mj</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About MahjongBuddy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum finibus sem, nec lacinia sapien rhoncus vel. Maecenas suscipit sapien non fermentum pretium. Suspendisse nec placerat enim. Donec rhoncus vestibulum condimentum. Praesent pretium augue sed arcu sagittis vestibulum. 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Play Everywhere</h2>
        <p>
            Curabitur id lectus eget libero efficitur porttitor. Morbi imperdiet felis mi, sed convallis diam faucibus ac. Vestibulum ultricies quis urna vel luctus.  
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up Now!</h2>
        <p>Vestibulum maximus massa est, eu varius mauris consectetur ut. Cras tincidunt lectus ac neque tristique, sit amet lobortis purus porta</p>
        <p><a class="btn btn-default" href="#">Sign Up &raquo;</a></p>
    </div>
</div>