@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    @*<script src="/signalr/hubs"></script>*@
}
<div ng-controller="MahjongController">
    <div id="WaitingRoom" class="container" ng-hide="gameIsReady">
        <div class="row">            
            <div class="col-lg-3"><input type="text" id="usernameTB" class="form-control" /></div>
            <div class="col-lg-1"><input type="button" id="join" value="join" ng-disabled="isDisonnected" ng-click="join()" class="btn-primary"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label id="gameStatus"></label></div>
        </div>
    </div><!--end of Waiting Room-->

    <div id="GameRoom" class="container" ng-show="gameIsReady">
        <div id="TopPlayer" class="row">

            <div class="col-lg-12">
                <div class="container">
                    <div class="row">
                        Player: {{topPlayer.Name}}
                    </div>
                    <div class="row">
                        <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : 'graveyard-' + topPlayer.ConnectionId}: true">
                            <div style="float:left"><img ng-src="{{tile.Image}}" style="float:left" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : topPlayer.ConnectionId}: true">
                            <div style="float:left"><img src="~/Content/images/tiles/64px/face-down-64px.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end of TopPlayer-->

        <div class="row">
            <div id="LeftPlayer" class="col-lg-3">
                <div class="col-lg-1"> leftPlayerId = {{leftPlayer.Name}}</div>

                <div class="col-lg-1">
                    <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : 'graveyard-' + leftPlayer.ConnectionId}: true">
                        <div style="float:left"><img ng-src="{{tile.Image}}" style="float:left" /></div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : leftPlayer.ConnectionId}: true">
                        <div><img src="~/Content/images/tiles/64px/face-down-64px.png" /></div>
                    </div>
                </div>
            </div>


            <div id="TheBoard" class="col-lg-3">
                <strong>Discarded Tiles</strong>
                <div id="discardedTiles">
                    <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : 'graveyard'}: true | orderBy: 'Counter'">
                        <img ng-src="{{tile.Image}}" style="float:left" />
                    </div>
                </div>
            </div><!--end of TheBoard-->

            <div id="RightPlayer" class="col-lg-3">
                <div class="col-lg-1"> rightPlayerId = {{rightPlayer.Name}}</div>

                <div class="col-lg-1">
                    <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : leftPlayer.ConnectionId}: true">
                        <div><img src="~/Content/images/tiles/64px/face-down-64px.png" /></div>
                    </div>
                </div>

                <div class="col-lg-1">
                    <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : 'graveyard-' + leftPlayer.ConnectionId}: true">
                        <div style="float:left"><img ng-src="{{tile.Image}}" style="float:left" /></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="BottomPlayer" class="row">
            <div class="col-lg-12">
                My wind: <label id="playerWind">{{currentPlayerWind}}</label><br />
                Is MyTurn: <label id="isMyTurn">{{isMyturn}}</label><br />
                Can Pick Tile ={{currentPlayer.CanPickTile}} <br />
                <input type="button" ng-disabled="!isMyturn" id="flower" value="flower" class="btn-primary" ng-click="fnPlayerMove('flower', 0)">
                <input type="button" ng-disabled="!isMyturn" id="noFlower" value="noFlower" class="btn-primary" ng-click="fnPlayerMove('noflower' , 0)">
                <input type="button" ng-disabled="!isMyturn || !currentPlayer.CanPickTile" id="pick" value="pick" class="btn-primary" ng-click="fnPlayerMove('pick', 0)">
                <input type="button" ng-disabled="!isMyturn" id="throw" value="throw" class="btn-primary" ng-click="fnPlayerMove('throw', selectedTileId)">
                <input type="button" ng-disabled="!isMyturn" id="chow" value="chow" class="btn-primary" ng-click="fnPlayerMove('chow', 0)">
                <input type="button" ng-disabled="!isMyturn" id="pong" value="pong" class="btn-primary" ng-click="fnPlayerMove('pong', 0)">
                <input type="button" ng-disabled="!isMyturn" id="kong" value="kong" class="btn-primary" ng-click="fnPlayerMove('kong', 0)">
                <input type="button" ng-disabled="!isMyturn" id="win" value="win" class="btn-primary" ng-click="fnPlayerMove('win', 0)">

                <div id="PlayerTiles">

                    SelectedTileId = {{selectedTileId}}<br />

                    <strong>Active</strong>
                    <div id="activeTiles">
                        <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : currentUserId}: true | orderBy: ['Type', 'Value']">
                            <div ng-click="fnSelectTile(tile.Id)" style="float:left"><img ng-src="{{tile.Image}}" /></div>
                        </div>
                    </div>
                    <br />
                    <div style="clear:both"></div>

                    <strong>My Discarded Tiles</strong>
                    <div id="myGraveyardTiles">
                        <div ng-repeat="tile in game.Board.Tiles | filter: {Owner : 'graveyard-' + currentUserId}: true">
                            <img ng-src="{{tile.Image}}" style="float:left" />
                        </div>
                    </div>
                    <br />
                    <div style="clear:both"></div>

                    <strong>Message</strong>
                    <div id="warningMessage">{{warningMessage}}</div>

                </div><!--end of PlayerTiles-->
            </div>
        </div><!--end of BottomPlayer-->
    </div><!--end of GameRoom-->
</div>
